*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.svg-conatiner{
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
}
svg{
    background-size: 10px 10px;
    background-image: linear-gradient(to right, #ccc 0.5px, transparent 0.5px),
    linear-gradient(to bottom, #ccc 0.5px, transparent 0.5px);
    
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}